@use "../../../sharedStyles/mixins.scss" as *;
@use "../../../sharedStyles/variables.scss" as *;

.title {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;

    @include desktop {
        text-align: center;
        font-size: 30px;
        line-height: 47px;
        word-spacing: 3em;
    }
}

.container {
    @include desktop {
        height: 100%;
        word-break: break-all;
        @include center;
    }
}

.cardContainer {
    width: 245px;
    height: 233px;

    @include desktop {
        height: 357px;
        width: 231px;
    }
}
