@use "../../../sharedStyles/mixins.scss" as *;
@use "../../../sharedStyles/variables.scss" as *;

.container {
    width: 245px;
    @include desktop {
        width: 379px;
    }
}

.children {
    @include centerColumn;
    gap: 10px;
}

.starsContainer {
    display: none;
    @include desktop {
        @include center;
    }
}

.title {
    @include cardTitleMobile;
    @include cardTitleDesktop;
}
