

@keyframes backgroundColorsChange {
    0% { 
        background-color: red;
    }

    10% {
        background-color: blue;
    }

    20% {
        background-color: green;
    }

    30% {
        background-color: yellow;
    }

    40% {
        background-color: purple;
    }

    50% {
        background-color: pink;
    }

    60% {
        background-color: gray;
    }

    70% {
        background-color: bisque;
    }

    80% {
        background-color:orange;
    }

    90% {
        background-color: randomColor();
    }

    100% {
        background-color:randomColor();
    }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
 
