@use './mixins' as *;
@use './variables' as *;

* {
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: 'Helvetica Neue';
}

html{
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.97px;
}

h1 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.97px;
}

h2 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.67px;
}

button {
  box-sizing: border-box;
  align-items: center;
  padding: 5px 24px;
  gap: 10px;
  border: 1px solid #000000;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.67px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $primary-black;
}

input[type='text'] {



  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1.97px;
  color: #000000;
}

input[type='text']:focus {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1.97px;
  color: #979797;
}

// Desktop :
@media only screen and (min-width: 520px) {
  body {
    font-size: 24px;
    line-height: 30px;
  }

  h1 {
    font-size: 32px;
    line-height: 40px;
  }

  h2 {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
  }

  h3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 2.67px;
  }

  input[type='text'] {


    line-height: 29.02px;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    text-align: center;
    letter-spacing: 1.97px;
    color: #000000;
  }

  input[type='text']:focus {
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.97px;
    color: #979797;
  }
}